/*
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

a,body,div,footer,h1,h2,h3,h4,h5,h6,html,i,p,s,section,time{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

footer,section{
    display:block;
}

body{
    line-height:1;
    scrollbar-width:none;
    -ms-overflow-style:none;
}

html::-webkit-scrollbar{
    display:none;
}

body{
    -webkit-text-size-adjust:none;
}

input::-moz-focus-inner{
    border:0;
    padding:0;
}

input{
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    appearance:none;
}

body{
    -ms-overflow-style:scrollbar;
}

@media screen and (max-width:480px){
    body,html{
        min-width:320px;
    }
}

html{
    box-sizing:border-box;
}

*,:after,:before{
    box-sizing:inherit;
}

body{
    background-color:#2e3141;
    background-image:linear-gradient(to top,rgba(46,49,65,.8),rgba(46,49,65,.8)),url(../../images/bg.jpg);
    background-size:auto,cover;
    background-attachment:fixed,fixed;
    background-position:center,center;
}

body.is-preload *,body.is-preload :after,body.is-preload :before{
    -moz-animation:none!important;
    -webkit-animation:none!important;
    -ms-animation:none!important;
    animation:none!important;
    -moz-transition:none!important;
    -webkit-transition:none!important;
    -ms-transition:none!important;
    transition:none!important;
}

body,input{
    color:#fff;
    font-family:"Source Sans Pro",Helvetica,sans-serif;
    font-size:16.5pt;
    font-weight:300;
    line-height:1.65;
}

@media screen and (max-width:1680px){
    body,input{
        font-size:13pt;
    }
}

@media screen and (max-width:1280px){
    body,input{
        font-size:12pt;
    }
}

@media screen and (max-width:980px){
    body,input{
        font-size:12pt;
    }
}

@media screen and (max-width:736px){
    body,input{
        font-size:12pt;
    }
}

@media screen and (max-width:480px){
    body,input{
        font-size:12pt;
    }
}

a{
    -moz-transition:color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    transition:color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    border-bottom:dotted 1px rgba(255,255,255,.35);
    color:#fff;
    text-decoration:none;
}

a:hover{
    border-bottom-color:transparent;
    color:#fff!important;
}

i{
    font-style:italic;
}

p{
    margin:0 0 2em 0;
}

h1,h2,h3,h4,h5,h6{
    color:#fff;
    font-family:sans-serif;
    font-weight:700;
    letter-spacing:.1em;
    margin:0 0 1em 0;
    text-transform:uppercase;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    color:inherit;
    text-decoration:none;
    border-bottom:0;
}

h2{
    font-size:1.2em;
}

h3{
    font-size:.9em;
}

h4{
    font-size:.7em;
}

h5{
    font-size:.7em;
}

h6{
    font-size:.7em;
}

@media screen and (max-width:736px){
    h2{
        font-size:1em;
    }

    h3{
        font-size:.8em;
    }
}

.button,button,input[type=button],input[type=reset],input[type=submit]{
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    appearance:none;
    -moz-transition:background-color .2s ease-in-out;
    -webkit-transition:background-color .2s ease-in-out;
    -ms-transition:background-color .2s ease-in-out;
    transition:background-color .2s ease-in-out;
    background-color:transparent;
    border-radius:5px;
    border:0;
    box-shadow:inset 0 0 0 2px rgba(255,255,255,.125);
    color:#fff!important;
    cursor:pointer;
    display:inline-block;
    font-family:sans-serif;
    font-size:.8em;
    font-weight:700;
    height:3.75em;
    letter-spacing:.1em;
    line-height:3.75em;
    padding:0 2.25em;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    white-space:nowrap;
}

.button:hover,button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{
    background-color:rgba(255,255,255,.025);
}

.button:active,button:active,input[type=button]:active,input[type=reset]:active,input[type=submit]:active{
    background-color:rgba(255,255,255,.075);
}

.button.primary,button.primary,input[type=button].primary,input[type=reset].primary,input[type=submit].primary{
    background-color:#4c5c96;
    box-shadow:none;
}

.button.primary:hover,button.primary:hover,input[type=button].primary:hover,input[type=reset].primary:hover,input[type=submit].primary:hover{
    background-color:#53639e;
}

.button.primary:active,button.primary:active,input[type=button].primary:active,input[type=reset].primary:active,input[type=submit].primary:active{
    background-color:#45558d;
}

.button:disabled,button:disabled,input[type=button]:disabled,input[type=reset]:disabled,input[type=submit]:disabled{
    opacity:.25;
}

@media screen and (max-width:480px){
    .button,button,input[type=button],input[type=reset],input[type=submit]{
        padding:0;
    }
}

#page-wrapper{
    -moz-transition:-moz-filter .25s ease;
    -webkit-transition:-webkit-filter .25s ease;
    -ms-transition:-ms-filter .25s ease;
    transition:filter .25s ease;
}

#banner{
    padding:10em 0 4.75em 0;
}

#banner .inner{
    margin:auto auto;
    width:55em;
}

#banner .inner div{
    text-align:center;
}

#banner .inner div a{
    width:20%;
    margin:1.5% 1.5% 1.5% 1.5%;
}

#banner h2{
    -moz-transition:opacity .5s ease,-moz-transform .5s ease,-moz-filter .25s ease;
    -webkit-transition:opacity .5s ease,-webkit-transform .5s ease,-webkit-filter .25s ease;
    -ms-transition:opacity .5s ease,-ms-transform .5s ease,-ms-filter .25s ease;
    transition:opacity .5s ease,transform .5s ease,filter .25s ease;
    -moz-transform:translateX(0);
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0);
    -moz-transition-delay:.1s;
    -webkit-transition-delay:.1s;
    -ms-transition-delay:.1s;
    transition-delay:.1s;
    -moz-filter:blur(0);
    -webkit-filter:blur(0);
    -ms-filter:blur(0);
    filter:blur(0);
    opacity:1;
    text-align:center;
    font-size:6.5em;
    margin-bottom:.8em;
	width: 100%;
}

@media screen and (max-width:1280px){
    #banner{
        padding:7em 0 8.25em 0;
        background-size:auto,cover;
        background-position:center,center;
        margin-bottom:-6.5em;
    }
}

@media screen and (max-width:980px){
    #banner{
        padding:12em 3em 12.375em 3em;
        margin-bottom:-4.75em;
    }

    #banner .inner{
        width:100%;
    }
}

@media screen and (max-width:900px){
    #banner{
        padding:5em 2em 4.25em 2em;
        margin-bottom:-2.5em;
    }

    #banner h2{
        font-size:5em;
    }

    #banner .inner div a{
        width:50%;
    }
}

body.is-preload #banner h2{
    opacity:0;
    -moz-transform:translateY(-.25em);
    -webkit-transform:translateY(-.25em);
    -ms-transform:translateY(-.25em);
    transform:translateY(-.25em);
    -moz-filter:blur(2px);
    -webkit-filter:blur(2px);
    -ms-filter:blur(2px);
    filter:blur(2px);
}

body.is-preload #banner p{
    opacity:0;
    -moz-transform:translateX(.5em);
    -webkit-transform:translateX(.5em);
    -ms-transform:translateX(.5em);
    transform:translateX(.5em);
    -moz-filter:blur(2px);
    -webkit-filter:blur(2px);
    -ms-filter:blur(2px);
    filter:blur(2px);
}

#footer .inner{
    display:-moz-flex;
    display:-webkit-flex;
    display:-ms-flex;
    display:flex;
    -moz-flex-direction:row;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -moz-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 auto;
    width:55em;
}

#footer .inner>*{
    width:100%;
}

#footer #carousel{
    width:100%;
    position:relative;
    text-align:center;
    white-space:nowrap;
    left:-33%;
}

#footer #carousel p{
    display:inline-block;
    width:33%;
	max-width: 33%;
    font-size:1.5em;
    overflow-wrap: break-word;
	white-space: normal;
}

#footer #carousel .mainitem{
    font-size:2.5em;
    font-weight:700;
}

@media screen and (max-width:1280px){
    #footer{
        background-size:auto,cover;
        background-position:center,center;
        margin-top:-6.5em;
        padding-top:6.5em;
		font-size: 0.75em;
    }
}

@media screen and (max-width:980px){
    #footer{
        margin-top:-4.75em;
        padding-top:4.75em;
    }

    #footer .inner{
        padding:3em 3em 1em 3em;
        display:block;
        width:100%;
    }

	#footer #carousel {
		left: 0;
	}

	#footer #carousel p {
		display: none;
		visibility: hidden;
	}

	#footer #carousel .mainitem {
		visibility: visible;
		display: inline-block;
		min-width: 100%;
	}
}

@media screen and (max-width:900px){
    #footer{
        margin-top:-2.5em;
        padding-top:2.5em;
		font-size:0.5em;
    }

    #footer .inner{
        padding:2em 2em .1em 2em;
    }
}

@media screen and (max-width:360px){
    #footer .inner{
        padding:2em 1.5em .1em 1.5em;
    }
}
